body {
  font-family: "PT Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

:root {
  /*#region light mode*****/
  --brand-primary-color-light: #9792e4;
  --brand-secondary-color-light: #0084fd;
  --brand-tertiary-color-light: #b5ddff;
  --text-color-brand-light: #0084fd;
  --text-color-brand-secondary-light: #9792e4;
  --text-color-high-contrast-light: #0084fd;
  --text-color-low-contrast-light: rgb(107, 107, 107);
  --bg-color-light: white;
  /*#endregion light mode*****/

  /*#region darkMode*****/
  --brand-primary-color-dark: #613052;
  --brand-secondary-color-dark: #0068ca;
  --brand-tertiary-color-dark: #242424;
  --text-color-brand-dark: #0084fd;
  --text-color-brand-secondary-dark: #9792e4;
  --text-color-high-contrast-dark: #0084fd;
  --text-color-low-contrast-dark: #dbdbdb;
  --bg-color-dark: #2b2b2b;
  /*#endregion darkMode*****/
}

.dark-wrap {
  --brand-primary-color: var(--brand-primary-color-light);
  --brand-secondary-color: var(--brand-secondary-color-light);
  --brand-tertiary-color: var(--brand-tertiary-color-light);
  --text-color-brand: var(--text-color-brand-light);
  --text-color-brand-secondary: var(--text-color-brand-secondary-light);
  --text-color-high-contrast: var(--text-color-high-contrast-light);
  --text-color-low-contrast: var(--text-color-low-contrast-light);
  --bg-color: var(--bg-color-light);
  background-color: var(--bg-color-light);

}
#darkMode:checked ~ .dark-wrap {
  --brand-primary-color: var(--brand-primary-color-dark);
  --brand-secondary-color: var(--brand-secondary-color-dark);
  --brand-tertiary-color: var(--brand-tertiary-color-dark);
  --text-color-brand: var(--text-color-brand-dark);
  --text-color-brand-secondary: var(--text-color-brand-secondary-dark);
  --text-color-high-contrast: var(--text-color-high-contrast-dark);
  --text-color-low-contrast: var(--text-color-low-contrast-dark);
  --bg-color: var(--bg-color-dark);
  background-color: var(--bg-color-dark);
}





/* #region check DarkMode*****/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#darkMode {
  display: none;
}

label.switch {
  position: fixed;
  z-index: 3;
  bottom: 20px;
  right: 20px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  font-family: "Font Awesome 6 free";
  color: rgb(109, 109, 109);
  text-align: center;
  font-weight: 900;
  line-height: 25px;
  content: "\f185";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

#darkMode:checked + label .slider {
  background-color: #868686;
}

#darkMode:focus + label .slider {
  box-shadow: 0 0 1px #2196f3;
}

#darkMode:checked + label .slider:before {
  font-family: "Font Awesome 6 free";
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 900;
  line-height: 25px;
  content: "\f186";
  background-color: rgb(32, 32, 32);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*#endregion check DarkMode**** */

/*#region header*****/
header {
  background-color: var(--brand-secondary-color);
}

.btn-header {
  border-radius: 50px;
  background-color: white;
  font-weight: bold;
}
.fa-solid.fa-bars {
  font-size: 1.8rem;
  color: white;
}

/*#endregion header*****/

/*#region menu*****/
.menu {
  position: absolute;
  background: #007ff7;
  z-index: 10;
  right: -25%;
  height: 100vh;
  width: 25%;
  top: 75px;
  padding: 20px;
  transition: right 0.5s linear;
  color: white;
}
.menu ul {
  list-style: none;
  justify-content: space-around;
}
.nasconditore {
  position: absolute;
  background: rgb(0, 0, 0);
  visibility: hidden;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  top: 75px;
  left: -20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#menu {
  display: none;
}
#menu + label {
  position: absolute;
  right: 15px;
  transition: right 0.5s linear;
}
#menu:checked ~ label {
  right: 20%;
}

#menu:checked ~ .menu {
  right: 0;
}

#menu:checked ~ .nasconditore {
  visibility: visible;
  opacity: 0.6;
}
/*#endregion menu*****/

/*#region general for section*****/
section {
  padding: 3rem 0;
}

section:nth-child(even) {
  background-color: var(--brand-primary-color);
}

.card {
  border-radius: 30px;
  background-color: var(--brand-tertiary-color);
}

.card-header {
  padding: 0;
  color: var(--brand-secondary-color);
}

.container-lg:not(.header) {
  padding: 0 50px;
}

/*#endregion general for section*****/

/*#region hero*****/
#hero {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  grid-auto-rows: max-content;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#hero > * {
  width: 100%;
  height: 100%;
}

#hero .card:not(.card.large) {
  text-align: center;
}
#hero .card:not(.card.large) .card-header i {
  font-size: 4rem;
  margin-bottom: 1rem;
}

#hero .card-body {
  color: var(--text-color-low-contrast);
}
/*#region first card large*****/

#hero > .card.large {
  grid-column: 1 / span 2;
  padding-bottom: 0px;
}

.card-button {
  max-width: 70%;
  margin-top: 2rem;
  padding: 4px 20px;
  border-radius: 30px;

  color: white;

}

#hero .card-button {
  background-color: var(--brand-secondary-color);  
  letter-spacing: 3px;
}

#hero .card-button::before {
  font-family: "Font Awesome 6 brands";
  content: "\f179";
  margin-right: 5px;
}

#hero .card img {
  margin-top: 3.2rem;
}
/*#endregion first card large*****/

/*#endregion hero*****/

/*#region planning*****/

#planning .card img {
  margin-bottom: 5rem;
}

#planning .card {
  background-color: var(--bg-color);
  color: var(--text-color-low-contrast)
}

#planning .card-body {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: 0.9rem;
}
.button-arrow {
  font-style: normal;
  font-size: 30px;
  border-radius: 50%;
  padding: 10px 15px;
  color: var(--text-color-low-contrast);
  background-color: var(--brand-primary-color);
}
/*#endregion planning*****/

/*#region testimonial*****/
#testimonial {
  color: var(--text-color-low-contrast);
}
#testimonial h2 {
  color: var(--brand-primary-color);
}

#testimonial .card {
  background-color: var(--brand-primary-color);
  color: white;
}

#testimonial .card .img-cropper {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
#testimonial .card img {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

#testimonial .card .card-body {
  font-weight: normal;
  justify-content: center;
}

#testimonial .card-footer {
  font-size: 1.4rem;
  margin-top: 3rem;
  font-weight: 900;
}
/*#endregion testimonial*****/

/*#region working*****/
#working {
  padding: 3rem 0;
}

#working .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#working .card {
  background-color: #fff;
}
#working .card-header {
  color: var(--brand-primary-color);
  text-transform: capitalize;
}
#working .card-header h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#working .card-body {
  font-weight: normal;
}

#working .card-button {
  margin-top: 2rem;
  background-color: var(--brand-primary-color);
  color: white;
  padding: 4px 40px;
}
/*#endregion working*****/

/*#region about-us*****/

#about-us {
  line-height: 2.4rem;
  color: var(--text-color-low-contrast)
}

#about-us .ab-text p {
  margin-top: 1rem;
  width: 80%;
}

#about-us h2 {
  color: var(--brand-primary-color);
}

#about-us .ab-text {
  font-size: 1.2rem;
}

#about-us img {
  border-radius: 50%;
}

#about-us .quotes {
  font-size: 3rem;
  color: var(--brand-primary-color);
  position: absolute;
  right: 0px;
  top: -10px;
}

#about-us .profile {
  position: relative;
}
#about-us .profile p {
  color: var(--brand-primary-color);
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
#about-us .profile a {
  font-size: 0.8rem;
  background-color: var(--brand-primary-color);
  padding: 2px 10px;
  border-radius: 20px;
  color: white;
}
#about-us .profile a:before {
  font-family: "Font Awesome 6 brands";
  content: "\f08c";
  margin-right: 3px;
}
/*#endregion about-us*****/

/*#region get started*****/
#get-started {
  color: white;
}

#get-started {
  justify-content: center;
}
#get-started h2 {
  color: rgb(255, 195, 83);
  margin-bottom: 1rem;
}
#get-started a {
  color: var(--brand-primary-color);
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 0.8rem 3rem;
  margin: 1rem 0;
}

/*#endregion get started*****/

/*#region footer*****/
footer {
  background-color: #333333;
  padding: 3rem 0;
  color: white;
  text-align: center;
}
/*#endregion footer*****/

@media screen {
  @media (max-width: 768px) {
    /*#region header*****/
    header {
      position: fixed;
      z-index: 1;
      margin-top: -50px;
    }
    /*#endregion header*****/
    /*#region hero*****/

    #hero .card.large img {
      position: relative;
      width: 70%;
      bottom: 0;
      right: 0;
      margin-top: 1rem;
    }
    #hero .card-button {
      margin-bottom: 1rem;
      min-width: 50%;
    }

    /*#endregion hero*****/

    /*#region planning*****/
    #planning h2 {
      font-size: 4rem;
    }

    #planning h2 + p {
      margin-bottom: 3rem;
    }

    /*#endregion planning*****/
    /*#region testimonial*****/
    #testimonial .card .img-cropper {
      width: 150px;
      height: 150px;
    }
    /*#endregion testimonial*****/

    /*#region working*****/
    #working .card-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    /*#endregion working*****/
  }

  @media (max-width: 576px) {
    /*#region header*****/
    .menu {
      width: 50%;
      right: -50%;
    }
    #menu:checked + label {
      right: 40%;
    }
    /*#endregion header*****/
    /*#region hero*****/

    #hero {
      grid-template-columns: 1fr;
    }
    #hero > .card.large {
      grid-column: 1 / 2;
    }
    #hero .card.large img {
      width: 100%;
      margin-top: 1rem;
    }
    #hero .card-button {
      margin-bottom: 1rem;
      width: 100%;
    }
    /*#endregion hero*****/

    /*#region planning*****/
    #planning h2 {
      font-size: 3rem;
    }
    #planning h2 + p {
      margin-bottom: 3rem;
    }
    /*#endregion planning*****/

    /*#region testimonial*****/
    #testimonial .card {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    #testimonial h2 {
      text-align: center;
    }
    #testimonial .card .img-cropper {
      width: 200px;
      height: 200px;
      margin-bottom: 1rem;
    }
    #testimonial .card-footer {
      margin-top: 1rem;
    }
    /*#endregion testimonial*****/

    /*#region working*****/
    #working .card-wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
    /*#endregion working*****/

    /*#region about us*****/
    #about-us .ab-text p {
      width: 100%;
    }
    #about-us .profile p {
      margin-top: 2rem;
      font-size: 2rem;
    }
    #about-us .profile a {
      margin-top: 2rem;
      font-size: 1rem;
      width: 60%;
      text-align: center;
    }
    #about-us .profile a:before {
      margin-right: 1rem;
    }
    .ab-text {
      margin-bottom: 2rem;
    }
    #about-us .quotes {
      font-size: 6rem;
      right: 0;
      top: 0;
    }
    /*#endregion about us*****/
  }
}
