body {
  font-family: "PT Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

:root {
  --brand-primary-color: #9792e4;
  --brand-secondary-color: #0084fd;
  --brand-tertiary-color: #b5ddff;
}

/*#region header*****/
header {
  background-color: var(--brand-secondary-color);
}

.btn-header {
  border-radius: 50px;
  background-color: white;
  font-weight: bold;
}


/*#endregion header*****/

/*#region general for section*****/
section {
  padding: 3rem 0;
}

section:nth-child(even) {
  background-color: var(--brand-primary-color);
}



.card {
    border-radius: 30px;
    background-color: var(--brand-tertiary-color);
  }


  .card-header {
    padding: 0;
    color: var(--brand-secondary-color);
}





/*#endregion general for section*****/

/*#region hero*****/
#hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
#hero > * {
  width: 100%;
  height: 100%;
}

#hero .card:not(:first-child) {
   text-align: center;
}
#hero .card:not(:first-child) .card-header i{
    font-size: 4rem;
    margin-bottom: 1rem
}

#hero .card-body {
    color: rgb(107, 107, 107)
}
/*#region first card large*****/

#hero > *:first-child {
    grid-column: 1 / span 2;
    margin-bottom: 3rem;
    padding-bottom: 0px;
  }
#hero .apple {

    margin-top: 2rem;
    margin-left: 1rem;
    padding: 4px 50px;
    border-radius: 30px;
    letter-spacing: 3px;
    color: white;
    background-color: var(--brand-secondary-color);
}
#hero .apple::before {
    font-family: "Font Awesome 6 brands";
    content: "\f179" ;
    margin-right: 5px;
}

#hero .phone {
    position: relative;
}

#hero [src*="phone"] {
    position: absolute;
    bottom: -3rem;
    right: 0;
}
/*#endregion first card large*****/





/*#endregion hero*****/

/*#region planning*****/
#planning {
  padding: 5rem;
}

#planning [src*="planning1"] {
  margin-bottom: 5rem;
}

#planning .card {
    background-color: white;

}

#planning .card-body {
    text-align: center;
    font-weight: normal;
    font-style: italic;
    font-size: 0.9rem;
}
/*#endregion planning*****/

.button-arrow {
    font-style: normal;
    font-size: 30px;
    border-radius: 50%;
    padding: 10px 15px ;
    background-color: var(--brand-primary-color)
}

/*#region testimonial*****/
#testimonial {
}

#testimonial h2 {
  color: var(--brand-primary-color);
}

#testimonial .card {
    background-color: var(--brand-primary-color);
    color: white;
}

#testimonial .card .img-cropper {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}
#testimonial .card img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width:auto;
}

#testimonial .card > .col:nth-child(2){
    justify-content: center
}

#testimonial .card > .col:nth-child(2) > p:last-child {
    font-size: 1.4rem;
    margin-top: 3rem;
}
/*#endregion testimonial*****/

/*#region working*****/
#working {
  padding: 3rem 0;
}

#working .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#working .card {
    background-color: #fff;
}
#working .card-header {
    color: var(--brand-primary-color);
    text-transform: capitalize;
}
#working .card-header h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#working .card-body {
    font-weight: normal;
}

#working .button {
    margin-top: 2rem;
    background-color: var(--brand-primary-color);
    color: white;
    border-radius: 50px;
    padding: 4px 40px;
}
/*#endregion working*****/

/*#region about-us*****/

#about-us { 
   line-height: 2.4rem;
}

#about-us .ab-text > *:not(:first-child) {
  margin-top: 1rem;
}

#about-us h2 {
  color: var(--brand-primary-color);
}

#about-us .ab-text {
  font-size: 1.2rem;
}

#about-us img {
  border-radius: 50%;
}

#about-us .quotes {
    font-size: 6rem;
    color: var(--brand-primary-color);
    position: absolute;
    right: -30px;
    top: -30px


}

#about-us > div > div:last-child {
    position: relative;
}
#about-us > div > div:last-child p {
  color: var(--brand-primary-color);
  font-weight: bold;
}
#about-us > div > div:last-child a {
  font-size: 0.7rem;
  background-color: var(--brand-primary-color);
  padding: 2px 10px;
  border-radius: 20px;
  color: white;
}
#about-us > div > div:last-child a:before {
  font-family: "Font Awesome 6 brands";
  content: "\f08c";
  margin-right: 3px;
}
/*#endregion about-us*****/


/*#region get started*****/
#get-started {
    color: white;
}

#get-started {
    justify-content: center;
}
#get-started h2 {
    color: rgb(255, 195, 83);
    margin-bottom: 1rem
}
#get-started a {
    color: var(--brand-primary-color);
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 0.8rem 3rem;
    margin: 1rem 0;
}

/*#endregion get started*****/


/*#region footer*****/
footer {
  background-color: #333333;
  padding: 3rem 0;
  color: white;
  text-align: center;
}
/*#endregion footer*****/