body {
    font-family: 'PT Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}



/*#region header*****/
header { 
    background-color: #0084fd;
}

.btn-header {
    border-radius: 50px;
    background-color: white
}
/*#endregion header*****/


/*#region hero*****/
#hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 340px;
    gap: 1.5rem;
    margin-top: 3rem;
}
#hero > * {
    width: 100%;
    height: 100%;
}

#hero > *:first-child {
    grid-column: 1 / span 2;
}

.card {
    border-radius: 30px;
    background-color: #b5ddff;
}


/*#endregion hero*****/



/*#region planning*****/
#planning {
    background-color: #9792e4;
    padding: 5rem;
}
/*#endregion planning*****/

#planning img {

    margin-bottom: 5rem;
}

#planning .card {
    
}